@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

:root {

    /* Layout */
    --mobile-size : 375px;
    --desktop-size : 1440px;

    /* Text color */
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* Background color */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* Text color */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    /*  */
    --light-grayish-blue: hsl(240, 5%, 91%);


    --font-size: 12px;

    --weights-low: 400;
    --weights-high: 400;
    
    --font-family: 'Kumbh Sans', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

body {
    color: var(--dark-cyan);
    font-family: var(--font-family);
    font-weight: var(--font-normal);

    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#card {
    /* background-color: white; */

    width: 900px;
    height: 500px;

    border-radius: 25px;
    box-shadow: 1px 1px 12px #555; /* FIXME */

    background-color: white;
}

#svg-box {
    position: absolute;
    transform: translate(-560px,200px);
    z-index: 2;
}

/* ------- */


#left {
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
}

#svg-woman {
    transform: translate(-80px, 50px);
    position: relative;
    z-index: 1;
}

#svg-woman-mobile { 
    display: none;
}

#svg-pattern {
    transform: translate(-580px,-680px);
    position: relative;
    z-index: 0;
}

#svg-pattern-mobile { 
    display: none;
}

/* ------- */

#right {
    width: 50%;
    height: 100%;
    float : right;

    text-align: left;
    box-sizing: border-box;
    padding : 20px;
}

details {
    border-bottom: solid var(--light-grayish-blue) 1px;
}

details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}

summary {
    color: #333;
    padding: 1rem;

    outline: none;
    border-radius: 0.25rem;
    text-align: left;
    cursor: pointer;
    position: relative;

    padding-left: 0;
    transition: color 0.2s linear;
}

summary:hover {
    color: var(--soft-red);
    transition: color 0.2s linear;
}

details > summary::after {
    position: absolute;
    content: url("images/icon-arrow-down.svg");
    right: 20px;
    transition: all 0.5s;
}
details[open] > summary::after {
    position: absolute;
    content: url("images/icon-arrow-down.svg");
    transform: rotate(-180deg);
    transition: all 0.5s;
    right: 20px;
}
details > summary::-webkit-details-marker {
    display: none;
}

details[open] summary {
    font-weight: bold;
}

@media screen and (max-width: 1440px) {
    #card {
        /* background-color: green; */
        width: 400px;
        height: 540px;
        display: block;
    }

    #svg-box, #svg-pattern, #svg-woman {
        visibility: hidden;
    }

    #left {
        /* background-color: red; */
        width: 100%;
        height: 15%;
        overflow: visible;
    }

    #svg-woman-mobile {
        display: inline;
        /* background-color: yellow; */
        transform: translate(-140px, -1425px);
        position:absolute;
        z-index: 1;
        /* background-color: red; */
    }

    #svg-pattern-mobile {
        display: inline;
        /* background-color: yellow; */
        transform: translate(-110px, -1325px);
        position:absolute;
        z-index: 0;
    }

    
    #right {
        width: 100%;
        /* background-color: red; */
    }

    h2 {
        text-align: center;
    }

}